

  .file-name {
    color: rgba(0, 0, 0, 0.85); // Màu chữ mặc định của Ant Design
    font-size: 14px;
  }
  
  nz-list-item {
    display: flex;
    align-items: center;
  }
  
  [nz-icon] {
    font-size: 16px;
  }
  